<div>
  <h2 id="page-heading" data-cy="AccionHeading">
    <span jhiTranslate="hogaresApp.accion.home.title">Accions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hogaresApp.accion.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-accion"
        [routerLink]="['/accion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hogaresApp.accion.home.createLabel"> Create a new Accion </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="accions?.length === 0">
    <span jhiTranslate="hogaresApp.accion.home.notFound">No accions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="accions && accions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="hogaresApp.accion.title">Title</span></th>
          <th scope="col"><span jhiTranslate="hogaresApp.accion.description">Description</span></th>
          <th scope="col"><span jhiTranslate="hogaresApp.accion.servicio">Servicio</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let accion of accions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/accion', accion.id, 'view']">{{ accion.id }}</a>
          </td>
          <td>{{ accion.title }}</td>
          <td>{{ accion.description }}</td>
          <td>
            <div *ngIf="accion.servicio">
              <a [routerLink]="['/servicio', accion.servicio?.id, 'view']">{{ accion.servicio?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/accion', accion.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/accion', accion.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(accion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
