<div>
  <h2 id="page-heading" data-cy="HogarHeading">
    <span jhiTranslate="hogaresApp.hogar.home.title">Hogars</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hogaresApp.hogar.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-hogar"
        [routerLink]="['/hogar/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hogaresApp.hogar.home.createLabel"> Create a new Hogar </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="hogars?.length === 0">
    <span jhiTranslate="hogaresApp.hogar.home.notFound">No hogars found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="hogars && hogars.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="hogaresApp.hogar.hogarName">Hogar Name</span></th>
          <th scope="col"><span jhiTranslate="hogaresApp.hogar.language">Language</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hogar of hogars; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/hogar', hogar.id, 'view']">{{ hogar.id }}</a>
          </td>
          <td>{{ hogar.hogarName }}</td>
          <td jhiTranslate="{{ 'hogaresApp.Language.' + hogar.language }}">{{ hogar.language }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/hogar', hogar.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/hogar', hogar.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(hogar)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
